{% extends "base.html" %}
{% block content %}
<h2>{{ tr('watch_title') }}</h2>
<p class="text-secondary">{{ tr('watch_description') }}</p>

<div class="ratio ratio-16x9 neon-border-blue rounded overflow-hidden">
  <iframe
    src="https://player.twitch.tv/?channel={{ twitch_channel|urlencode }}{% for parent in twitch_embed_parents %}&parent={{ parent|urlencode }}{% endfor %}"
    allowfullscreen="true"
    scrolling="no"
    frameborder="0"
    title="Twitch stream {{ twitch_channel }}"
  ></iframe>
</div>
{% endblock %}
